<section  class="d-flex justify-content-center align-items-center" id="proyectos" >
  <div class="card" id="container" >
      <div class="my-2 d-flex justify-content-between align-items-baseline" data-aos="fade-left" data-aos-duration="600" data-aos-easing="ease-in-out">
          <h3><strong>Proyectos</strong></h3>         
      </div>
      <div class="d-flex flex-wrap">
          <app-proyectos-item            
              *ngFor="let proyecto of proyectos"
              [proyecto]="proyecto"
              class="my-4 w-100 d-flex"
              data-aos="fade-left" data-aos-duration="600" data-aos-easing="ease-in-out"                                         
          >
          </app-proyectos-item>  
      </div>              
  </div>                                               
</section>
