<section class="d-flex justify-content-center align-items-center " id="acerca de mi"  >
    <div class="card" id="container" data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-in-out">
        <div class="my-2 d-flex justify-content-between align-items-baseline" >                        
            <h3><strong>Sobre mí</strong></h3>                       
            
        </div>        
        <div>
            <p class="card-text">Hola! Mi nombre es Julián y me desempeño como desarrollador web full stack. Comencé a adentrarme en el mundo de la programación de forma autodidacta a partir de videos 
                en YouTube a finales de 2021, y actualmente estoy cursando una tecnicatura de Desarrollo Web y Aplicaciones Digitales. Me apasiona la creación y diseño de 
                sitios y aplicaciones web dinámicas y creativas, y siempre estoy en busca de nuevos desafíos laborales que me permitan poner a prueba mis conocimientos, continuar aprendiendo 
                y seguir creciendo profesionalmente.
            </p> 
        </div>                                                                     
    </div>
</section> 

